.intro {
    width: 100%;
    height: 100vh;
    background: #000000ad;
    position: fixed;
    top: 0;
    z-index: 101;
    display: none;
}

.introRow {
    color: #fff;
}

.introTitle {
    line-height: 64px;
}

.introText {
    line-height: 32px;
}

span.introUrl a {
    padding: 16px 32px;
    display: inline-block;
    cursor: pointer;
    transition: .3s;
    font-family: 'Noto Sans TC', sans-serif;
    margin-top: 48px;
    border: 2px solid transparent;
    -moz-border-image: -moz-linear-gradient( 126deg, #ebddd7, #8db4f7);
    -webkit-border-image: -webkit-linear-gradient( 126deg, #ebddd7, #8db4f7);
    border-image: linear-gradient( 126deg, #ebddd7, #8db4f7);
    border-image-slice: 1;
    /* background-clip: text;
    -webkit-background-clip: text;
    color: transparent; */
    font-weight: 600;
    color: #ebddd7;
}

span.introUrl a:hover {
    color: #4d4d4d;
    background: linear-gradient( 126deg, #ebddd7, #8db4f7);
    /* background-clip: text;
    -webkit-background-clip: text;
    color: transparent; */
}

.batsu {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    font-size: 2em;
    padding: 5px 10px;
    cursor: pointer;
    line-height: 40px;
}

@keyframes loading {
    from {
        background-position-x: 100%;
    }
    to {
        background-position-x: 0%;
    }
}


/* html {
    box-sizing: border-box;
} */


/*600px以上*/


/* @media (min-width: 600px) {
    body {
        display: none;
    }
} */

*,
*:before,
*:after {
    box-sizing: inherit;
}

.pic {
    margin: 7px 8px;
    position: relative;
    cursor: pointer;
}

.picture {
    /* flex-basis: 25%; */
    min-height: 250px;
}

.picture-2x {
    /* flex-basis: 50%; */
    min-height: 250px;
}

.picture-1x {
    /* flex-basis: 100%; */
    min-height: 500px;
}

.pic:hover>img {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.523);
}

.img {
    position: relative;
}

.pic::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    transition: .3s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: #fff;
}

.pic:hover::before {
    content: '';
    background: #0000009f;
    font-size: 36px;
}

.pic-ui:hover::before {
    content: 'UI';
}

.pic-web:hover::before {
    content: 'Web';
}

.pic-ill:hover::before {
    content: 'Illustration';
}

.pic-des:hover::before {
    content: 'Design';
}

.imgStyle {
    width: 250px;
    height: 250px;
    border-radius: 4px;
    object-fit: cover;
    transition: box-shadow 150ms ease-in;
}

.img-1ox {
    width: 500px;
    height: 516px;
    border-radius: 4px;
    object-fit: cover;
    transition: box-shadow 150ms ease-in;
}

.img-1x {
    width: 500px;
    height: 782px;
    border-radius: 4px;
    object-fit: cover;
    transition: box-shadow 150ms ease-in;
}

.img-1lx {
    width: 1095px;
    height: 250px;
    border-radius: 4px;
    object-fit: cover;
    transition: box-shadow 150ms ease-in;
}

.mockup {
    position: absolute;
    width: 250px;
    height: 250px;
    background: linear-gradient( -90deg, rgb(236, 236, 236) 0%, rgb(236, 236, 236) 40%, rgb(232, 232, 232) 50%, rgb(236, 236, 236) 60%, rgb(236, 236, 236) 100%);
    background-repeat: repeat;
    background-size: 400% 100%;
    transition: opacity 600ms ease-in;
}

.loading {
    animation: loading 1.5s ease infinite;
}

.fade-out {
    opacity: 0;
}

.no-js .lazy,
.no-js .mockup {
    display: none;
}